---
import BaseLayout from "../layouts/BaseLayout.astro";
import SiteShell from "../components/SiteShell.astro";
import PageHeader from "../components/PageHeader.astro";

const visualItems = [
  { src: "/art/placeholders/house.jpg", alt: "Collage header scrap" },
  { src: "/art/placeholders/star-boy.jpg", alt: "Collage header scrap" },
];
---

<BaseLayout
  title="About Tommy Day"
  description="Learn more about Tommy Day Art, an analog collage practice focused on originals, prints, cards, and paper goods."
  canonicalUrl="/about/"
>
  <SiteShell>
    <PageHeader
      title="About Tommy Day"
      kicker="Artist statement"
      description="Web Developer by day, Collage Goblin by night."
      visualItems={visualItems}
    />

    <section class="page-intro-copy">
      <p>I'm Tommy Day, a freelance web developer and aspiring collage artist based out of Indianapolis, Indiana.  I'm an Elder Millenial, dad, and singer/songwriter. In February of 2026, after loving the process of making art for a friend's mixtape cassette, I dove head first into the world of analog collage. </p>

      <p class="mt-4">I'm still learning, experimenting, and figuring things out, and hope to start documenting the process here more.  You can browse the originals I have for sale in my shop, check out some prints of my work, and can expect more weird paper goods soon!</p>
     
    </section>
  </SiteShell>
</BaseLayout>
