---
import SidebarNav from "../components/SidebarNav.astro";
---
  <div class="min-h-screen md:grid md:grid-cols-[260px_1fr]">
    <aside class="bg-transparent md:sticky md:top-0 md:h-screen md:pt-8 md:pl-6">
      <SidebarNav />
    </aside>

    <main class="px-6 py-8">
      <slot />
    </main>
  </div>
